 header{
    

    background-color: #1F2937;
}

 
 body{

 font-family:'Roboto', 'Times New Roman'; 

}

.hero{
    background-color: #1F2937;
    font-size: 48px;
    color: #f9faf8;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB; 
    padding: auto;
    text-align: left;
    
}

.header .title{

    font-size: 24px;
    color: #f9faf8;

}

