 header{
    

    background-color: #1F2937;
}

 
 body{
 font-family:'Roboto', 'Times New Roman';
 margin: 0; 
}

.hero {
    background-color: #1F2937;
    font-size: 48px;
    color: #f9faf8;
}

.hero p{
    font-size: 18px;
    color: #E5E7EB; 
    padding-left: 150px;
    text-align: left;
    margin-top: -60px;
    margin-bottom: 50px;
    padding-bottom: -70px;
    
    
}

.header .title{

    font-size: 24px;
    color: #f9faf8;
    

}

.title {
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    gap: 100px;
   
    

    
}

.nav {
     font-size: 17px;
}


.hero h1{
    padding-left: 150px;
}
.hero button{
    margin-left: 150px;

}